* {
  font-family: 'Karla', sans-serif !important;
}

.app-container {
}

.pregame-header {
  background-color: #FFD9DC;
  padding: 32px;
}

.button {
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  box-sizing: border-box;
  transition: .2s all ease;
}

.button:focus {
  outline: none;
}


.button-primary {
  background-color: #FF5967;
  color: #fff;
  border: none;
}

.button-primary:hover,
.button-primary:active {
  background-color: #E5505D !important;
}

