* {
  font-family: 'Karla', sans-serif !important;
}

.app-container {
}

.pregame-header {
  background-color: #FFD9DC;
  padding: 32px;
}

.button {
  background-color: #FF5967;
  border: none;
  color: #fff;
  border-radius: 2px;
  padding: 8px 16px;
  box-sizing: border-box;
  border: 1px solid #FF5967;
  transition: .2s border ease;
}

.button:focus {
  outline: none;
  border: 1px solid rgba(255,255,255,.8);
}
