* {
  font-family: 'Karla', sans-serif !important;
}

.app-container {
}

.pregame-header {
  background-color: #FFD9DC;
  padding: 32px;
}

.button {
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  box-sizing: border-box;
  transition: .2s all ease;
}

.button-small {
  border: none;
  border-radius: 2px;
  padding: 4px 8px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
}

.button:focus {
  outline: none;
}


.button-primary {
  background-color: #FF5967;
  color: #fff;
  border: none;
}

.button-primary:hover,
.button-primary:active {
  background-color: #E5505D !important;
}

