.chatbox {
  height: 80vh;
  position: relative;
}

.chatbox__message-list {
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  padding: 8px 4px;

  border: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 14px;
}

.chatbox__input {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
}

.chatbox__send {
  position: absolute;
  right: 0;
}

.chatbox__sender {
  color: #E5505D;
  padding-right: 4px;
}

.chatbox__message {
  margin: 2px 4px;
  padding: 4px 8px;
  display: inline-block;
  border-radius: 12px;
}

.chatbox__status-message {
  background-color: #FF5967;
  color: #fff;
}

.chatbox__status-message .chatbox__sender {
  color: #fff;
  font-weight: 700;
}
