.chatbox {
  height: 80vh;
  position: relative;
}

.chatbox__message-list {
  position: absolute;
  bottom: 60px;
  top: 60px;
  left: 0;
  right: 0;
  line-height: 125%;

  border: 1px solid rgba(0,0,0,.1);
  overflow: hidden;
  overflow-y: scroll;
}

.chatbox__input {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 36px;
}

.chatbox__send {
  position: absolute;
  right: 0;
}

.chatbox__sender {
  color: #E5505D;
  padding-right: 4px;
}
