.participant-view {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.participant-view__avatar {
  border-radius: 50%;
  background-color: #FF5967;
  width: 64px;
  height: 64px;
  margin-bottom: 8px;
}

.participant-view__status {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0px 4px 6px rgba(0,0,0,.2);
  padding: 4px 8px;
  line-height: 16px;
  border-radius: 16px;

  position: absolute;
  top: -16px;
}
