.sharelink {
  display: flex;
}

.sharelink__group {
  width: 70%;
}

.sharelink__input,
.sharelink__input:disabled,
.sharelink__input[readonly] {
  border: 1px solid rgba(0,0,0,.1);
  background-color: #fff;
}

.sharelink__url {
  line-height: 40px;
  padding-left: 16px;
}

.sharelink__button {
  background-color: #FF5967;
  color: #fff;
  border: none;
  padding: 0px 16px;
  outline: none;
  float: right;
  height: 32px;
  margin: 5px;
  border-radius: 2px;
}

.sharelink__button:focus {
  outline: 1px solid rgba(0,0,0,.1);
}
