extends ../layout

block content
  h1= title
  p Welcome to #{title}
  form(id="message-box")
    label(for="lname") Message
    br
    input(type="text" id="message" name="lname" value="Doe")
    br
    input(type="submit" value="Submit")

  div(id='app')

  script
    include ../../public/js/script.js
    include ../../public/js/bundles/bundle.js
